/**
 * @name Chillax (Fork)
 * @author Chillax Squad
 * @authorLink https://github.com/warrayquipsome/Chillax#Authors
 * @version 2.1.1
 * @fversion 0.0.23
 * @invite DrfX6286kF
 * @description A fork of chillax.
 * @source https://github.com/warrayquipsome/Chillax
*/
/*
      _     _ _ _          _   _               
  ___| |__ (_) | | ___  __| | | |__   _____  __
 / __| '_ \| | | |/ _ \/ _` | | '_ \ / _ \ \/ /
| (__| | | | | | |  __/ (_| | | |_) | (_) >  < 
 \___|_| |_|_|_|_|\___|\__,_| |_.__/ \___/_/\_\
                                               
*/

/* Im using chillax css code right now because mine broke LMAO */
@import url("https://warrayquipsome.github.io/Chillax/chillax.css");

/* addons (remove by putting "/* and */) */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://chillax-org.github.io/Discolored/main.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");
@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/refs/heads/deploy/RadialStatus.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FriendGrid.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/ColoredLinks.css");
/*@import url("https://warrayquipsome.github.io/Chillax/Addons/HideAnnoyingElements.css");*/


/*Change this if you want (Only if you know what youre doing)*/
:root {
    /*background image*/ /*(replace the link to use)*/
    --background-image: var(--wallpaper);
    --bg-opacity: 100%;
    /*Custom wallpaper: upload your image file to Catbox.moe and replace the url below to your catbox url*/
    --wallpaper: url("https://files.catbox.moe/1w8e91.jpg");
    /*Extra backgrounds*/
/* (none) */
}


/*window*/ /*dark mode*/
:root.theme-dark {
    --window-margin: 20px; /*must be above 20px or it doesnt fit screen*/
    --window-colour: #0009;
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(36, 36, 36);
}

/*window*/ /*light mode*/
:root.theme-light {
    --window-margin: 20px; /*must be above 20px or it doesnt fit screen*/
    --window-colour: rgba(255, 255, 255, 0.6);
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(209, 209, 209);
}


/*roots*/ /*both dark and light*/
:root {
      /* change the username to whatever u want */
    --user-name: "Homie";
    --edited-message: " EDITED ✎ ";
    --font-name: Poppins;
    --font-size: 13px;
    --group-chat-font: "Monoton"; /* change this to whatever u want groupchat font to be*/


    /*glow radial status*/ /*must end in px*/
    --rs-small-spacing: 0px;
    --rs-large-spacing: 0px;
    --rs-medium-spacing: 0px;
    --rs-small-width: 2.5px;
    --rs-medium-width: 3.5px;
    --rs-large-width: 4.5px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #1df594;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #636b75;
    --rs-phone-visible: block; /* change it to `none` to disable mobile icon */
    --rs-phone-color: var(--rs-online-color);

    /* For accent color to take full effect must need to change both */
    /* chilledbox colours rgb */
    --accentcolor: 251, 84, 84;
    /* chilledbox colours hex */
    --accentcolorV2: #fb5454;


    /* settings modal root */
    --themelightsettingsmodalbackground: rgb(223, 223, 223);
    --themedarksettingsmodalbackground: rgb(51, 49, 53);
    --settingsmodalwidth: 960px;
    --settingsmodalheight: 80vh;

    /* avatar only member list */
    --memberlist-border-radius: 10px; /* can be in `px`, `rem`, `em` */

    /* Chnge below to whatever you want if you know what youre doing */
       /* input fields */
    --chilledbox-input-field: "Wanna talk to them? :3";
    /* input fields  when the channel is locked*/
    --chilledbox-input-field-locked: "Awww... you cant talk here :(";
    /* typing indicator: when a single person is typing */
    --chilledbox-input-typing-indicator-one-person: "is texting rn";
    /* typing indicator: when more than one person is typing */
    --chilledbox-input-typing-indicator-many-person: "are all texting rn";

    /* Change the url to whatever gif you want, this will be used for the little like timeline for spotify status */
    --chilledbox-spotify-control-gif-url: "https://files.catbox.moe/86pkvg.gif";
    /* adjust the height and width accordingly */
    --chilledbox-spotify-control-width: 25px;
    --chilledbox-spotify-control-height: 25px;

}

/*discord transparency*//*roots*/ /*theme dark*/
.theme-dark {
    --background-message-hover: rgba(255, 255, 255, 0.055);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #9d9d9d;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: rgb(36, 36, 36);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
}

/*discord transparency*//*roots*/ /*theme light*/
.theme-light {
    --background-message-hover: rgba(255, 255, 255, 0.055);
    --header-primary: rgb(0, 0, 0);
    --header-secondary: #3f3f3f;
    --text-normal: #303030;
    --text-muted: #333333;
    --channels-default: #585b5e;
    --interactive-normal: #3a3a3a;
    --interactive-hover: #333333;
    --interactive-active: rgb(0, 0, 0);
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: rgb(27, 27, 27);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
}

/*!*friends grid banner colour*!*/
/*.theme-dark {*/
/*    --FG-cards-banner-background: transparent !important;*/
/*}*/

/*.theme-light {*/
/*    --FG-cards-banner-background: transparent !important;*/
/*}*/


/*Permissions*/
/*
- You do not have the rights to use our theme name Chillax™ on other projects
- You do not have the rights to remove our theme watermark in the theme
- You do not have the rights to change this theme author/dev/maintainer name to anyone
*/

/*credits*/
/*
========================= Chillax Squad =========================
 Wq                                       Owner & Dev
 LofiTurtle                               Dev & Maintainer
 Inmoresentum                             Dev & Maintainer
 Demented_Elmo                            Dev
=================================================================
 Embeds                                   by Alexis WyvernZu
 Active Now CSS                           by Cedrick
 Memberlist until hover                   by Cedrick
 Hide User Buttons until Hover            by Commie Axolotl
 Center profile badge, avatar and name    by Commie Axolotl
 Account Details Grid                     by Dablulite
 Blurple recolour                         by DevilBro
 Emoji Replace                            by DevilBro
 Settings Icons                           by DevilBro
 Connection Issue Let Me Be               by Disease
 Radial Status                            by Gibbu
 About Me Clamp                           by ItMeSarah
 Better Jump to Present Button            by Lonk
 Better Mark As Read Button               by Lonk
 IconPack                                 by Lavender
 Discolored                               by Nyri4
 Better Spotify Control                   by Uri
=================================================================
*/
/*I really want to give a special shoutout to all of you for supporting me in this theme, thank you all.*/
